<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cedev.api.basemng.mapper.KpiInfoMapper">

    
    <select id="getWaveInfoList"
		parameterType="com.cedev.api.basemng.dto.WaveSearchDto" 
    	resultType="com.cedev.api.basemng.dto.WaveInfoDto">
        SELECT
            wave_cd as waveCd,
            wave_nm as waveNm

        FROM TB_WAVE_INFO
        WHERE 1 = 1

    </select>
    
    <select id="getPuInfoList"
		parameterType="com.cedev.api.basemng.dto.PuSearchDto" 
    	resultType="com.cedev.api.basemng.dto.PuInfoDto">
        SELECT
            pu_cd as puCd,
            pu_nm as puNm

        FROM TB_PU_INFO
        WHERE 1 = 1

    </select>    
    
    <select id="getTargetInfoList"
		parameterType="com.cedev.api.basemng.dto.TargetSearchDto" 
    	resultType="com.cedev.api.basemng.dto.TargetInfoDto">
		   SELECT 
		        WAVE_NM AS waveNm,
		        ISNULL([FAB_IN], 0)  AS fabIn,
		        ISNULL([B_1st], 0)   AS b1st,
		        ISNULL([B_2st], 0)   AS b2st,
		        ISNULL([B3st], 0)    AS b3st,
		        
		        ISNULL([B4st], 0)    AS b4st,
		        ISNULL([B5st], 0)    AS b5st,
		        ISNULL([PGIN], 0)    AS pgin,
		        ISNULL([A_1st], 0)   AS a1st,
		        ISNULL([A_2st], 0)   AS a2st,
		        
		        ISNULL([A_3st], 0)   AS a3st,
		        ISNULL([A_4st], 0)   AS a4st,
		        ISNULL([A_5st], 0)   AS a5st,
		        ISNULL([FAB_OUT], 0) AS fabOut
		    FROM (
		        -- 기준 정보 조합에 선택한 년도의 실제 목표 데이터를 매핑
		        SELECT 
		            w.WAVE_NM, 
		            p.PU_NM, 
		            ISNULL(t.TARGET_VAL, 0) AS TARGET_VAL
		        FROM TB_WAVE_INFO w
		        CROSS JOIN TB_PU_INFO p
		        LEFT JOIN TB_KPI_TARGET t 
		            ON w.WAVE_CD = t.WAVE_CD 
		           AND p.PU_CD = t.PU_CD
		          
		    ) AS SourceTable
		    PIVOT (
		        SUM(TARGET_VAL)
		        FOR PU_NM IN (
		            [FAB_IN], [B_1st], [B_2st], [B3st], [B4st], [B5st], 
		            [PGIN], [A_1st], [A_2st], [A_3st], [A_4st], [A_5st], [FAB_OUT]
		        )
		    ) AS PivotTable
		    ORDER BY CASE WAVE_NM 
		        WHEN 'EUV' THEN 1 WHEN 'Arf_I' THEN 2 WHEN 'Arf_F' THEN 3 
		        WHEN 'GUV' THEN 4 WHEN 'OUV' THEN 5 WHEN 'SUV' THEN 6 WHEN 'RUV' THEN 7 
		    END

    </select>        


    <select id="getKpiInfoList"
		parameterType="com.cedev.api.basemng.dto.KpiSearchDto" 
    	resultType="com.cedev.api.basemng.dto.KpiInfoDto">
    	
	    SELECT [YEAR]       AS year
	         , KPI_CD       AS kpiCd
	         , KPI_NM       AS kpiNm
	         , GUBUN        AS gubun
	         , KPI_VAL      AS kpiVal
	         , [1st_Sign]   AS v1stSign
	         , [1st_Val]    AS v1stVal
	         , [1st_Mon]    AS v1stMon
	         , [1st_UseYn]  AS v1stUseYn
	         , [2nd_Sign]   AS v2ndSign
	         , [2nd_Val]    AS v2ndVal
	         , [2nd_Mon]    AS v2ndMon
	         , [2nd_UseYn]  AS v2ndUseYn
	         , [3rd_Sign]   AS v3rdSign
	         , [3rd_Val]    AS v3rdVal
	         , [3rd_Mon]    AS v3rdMon
	         , [3rd_UseYn]  AS v3rdUseYn
	         , [4th_Sign]   AS v4thSign
	         , [4th_Val]    AS v4thVal
	         , [4th_Mon]    AS v4thMon
	         , [4th_UseYn]  AS v4thUseYn
	         , REG_ID       AS regId
	         , REG_DT       AS regDt
	         , MOD_ID       AS modId
	         , MOD_DT       AS modDt
	      FROM tb_kpi_m
	     WHERE 1=1
          order by kpicd asc

    </select>  


</mapper>