<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cedev.api.basemng.mapper.KpiInfoMapper">

    
    <select id="getWaveInfoList"
		parameterType="com.cedev.api.basemng.dto.WaveSearchDto" 
    	resultType="com.cedev.api.basemng.dto.WaveInfoDto">
        SELECT
            wave_cd as waveCd,
            wave_nm as waveNm

        FROM TB_WAVE_INFO
        WHERE 1 = 1

    </select>
    
    <select id="getPuInfoList"
		parameterType="com.cedev.api.basemng.dto.PuSearchDto" 
    	resultType="com.cedev.api.basemng.dto.PuInfoDto">
        SELECT
            pu_cd as puCd,
            pu_nm as puNm

        FROM TB_PU_INFO
        WHERE 1 = 1

    </select>    
    
    <select id="getTargetInfoList"
		parameterType="com.cedev.api.basemng.dto.TargetSearchDto" 
    	resultType="com.cedev.api.basemng.dto.TargetInfoDto">
    	
    	
	SELECT 
	    W.WAVE_NM AS waveNm,
	    ISNULL(T.P_BIN, 0)   AS fabIn,  
	    ISNULL(T.B1ST, 0)    AS b1st,
	    ISNULL(T.B2ND, 0)    AS b2st,
	    ISNULL(T.B3RD, 0)    AS b3st,
	    ISNULL(T.B4TH, 0)    AS b4st,
	    ISNULL(T.B5TH, 0)    AS b5st,
	    ISNULL(T.P_GM, 0)    AS pgin,   
	    ISNULL(T.A1ST, 0)    AS a1st,
	    ISNULL(T.A2ND, 0)    AS a2st,
	    ISNULL(T.A3RD, 0)    AS a3st,
	    ISNULL(T.A4TH, 0)    AS a4st,
	    ISNULL(T.A5TH, 0)    AS a5st,
	    ISNULL(T.F_ABOUT, 0) AS fabOut  
	FROM TB_WAVE_INFO W  
	LEFT JOIN TB_KPI_TARGET T 
	    ON W.WAVE_CD = T.WAVE_CD 
	   AND T.KPI_YEAR = #{year}
	ORDER BY CASE W.WAVE_CD 
	    WHEN 'EUV' THEN 1 
	    WHEN 'Arf_I' THEN 2 
	    WHEN 'Arf_F' THEN 3 
	    WHEN 'GUV' THEN 4 
	    WHEN 'OUV' THEN 5 
	    WHEN 'SUV' THEN 6 
	    WHEN 'RUV' THEN 7 
	END;



    </select>        
    
    <!--
			SELECT 
			    WAVE_CD AS waveNm,
			    ISNULL(P_BIN, 0)   AS fabIn,  
			    ISNULL(B1ST, 0)    AS b1st,
			    ISNULL(B2ND, 0)    AS b2st,
			    ISNULL(B3RD, 0)    AS b3st,
			    ISNULL(B4TH, 0)    AS b4st,
			    ISNULL(B5TH, 0)    AS b5st,
			    ISNULL(P_GM, 0)    AS pgin,   
			    ISNULL(A1ST, 0)    AS a1st,
			    ISNULL(A2ND, 0)    AS a2st,
			    ISNULL(A3RD, 0)    AS a3st,
			    ISNULL(A4TH, 0)    AS a4st,
			    ISNULL(A5TH, 0)    AS a5st,
			    ISNULL(F_ABOUT, 0) AS fabOut  
			FROM TB_KPI_TARGET
			WHERE KPI_YEAR = #{year}
			ORDER BY CASE WAVE_CD 
			    WHEN 'EUV' THEN 1 
			    WHEN 'Arf_I' THEN 2 
			    WHEN 'Arf_F' THEN 3 
			    WHEN 'GUV' THEN 4 
			    WHEN 'OUV' THEN 5 
			    WHEN 'SUV' THEN 6 
			    WHEN 'RUV' THEN 7 
			END;    
-->

    <select id="getKpiInfoList"
		parameterType="com.cedev.api.basemng.dto.KpiSearchDto" 
    	resultType="com.cedev.api.basemng.dto.KpiInfoDto">
    	
	    SELECT [YEAR]       AS year
	         , KPI_CD       AS kpiCd
	         , KPI_NM       AS kpiNm
	         , GUBUN        AS gubun
	         , KPI_VAL      AS kpiVal
	         , [1st_Sign]   AS v1stSign
	         , [1st_Val]    AS v1stVal
	         , [1st_Mon]    AS v1stMon
	         , [1st_UseYn]  AS v1stUseYn
	         , [2nd_Sign]   AS v2ndSign
	         , [2nd_Val]    AS v2ndVal
	         , [2nd_Mon]    AS v2ndMon
	         , [2nd_UseYn]  AS v2ndUseYn
	         , [3rd_Sign]   AS v3rdSign
	         , [3rd_Val]    AS v3rdVal
	         , [3rd_Mon]    AS v3rdMon
	         , [3rd_UseYn]  AS v3rdUseYn
	         , [4th_Sign]   AS v4thSign
	         , [4th_Val]    AS v4thVal
	         , [4th_Mon]    AS v4thMon
	         , [4th_UseYn]  AS v4thUseYn
	         , REG_ID       AS regId
	         , REG_DT       AS regDt
	         , MOD_ID       AS modId
	         , MOD_DT       AS modDt
	      FROM tb_kpi_m
	     WHERE 1=1
          order by kpicd asc

    </select>  


</mapper>