<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cedev.api.basemng.mapper.KpiInfoMapper">

    
    <select id="getWaveInfoList"
		parameterType="com.cedev.api.basemng.dto.WaveSearchDto" 
    	resultType="com.cedev.api.basemng.dto.WaveInfoDto">
        SELECT
            wave_cd as waveCd,
            wave_nm as waveNm

        FROM TB_WAVE_INFO
        WHERE 1 = 1

    </select>
    
    <select id="getPuInfoList"
		parameterType="com.cedev.api.basemng.dto.PuSearchDto" 
    	resultType="com.cedev.api.basemng.dto.PuInfoDto">
        SELECT
            pu_cd as puCd,
            pu_nm as puNm

        FROM TB_PU_INFO
        WHERE 1 = 1

    </select>    
    
    <select id="getTargetInfoList"
		parameterType="com.cedev.api.basemng.dto.TargetSearchDto" 
    	resultType="com.cedev.api.basemng.dto.TargetInfoDto">
    	
    	
	SELECT
	     #{year} AS year,
	    W.WAVE_CD AS waveCd, 
	    W.WAVE_NM AS waveNm,
	    ISNULL(T.FAB_IN, 0)   AS fabIn,  
	    ISNULL(T.B1ST, 0)    AS b1st,
	    ISNULL(T.B2ST, 0)    AS b2st,
	    ISNULL(T.B3ST, 0)    AS b3st,
	    ISNULL(T.B4ST, 0)    AS b4st,
	    ISNULL(T.B5ST, 0)    AS b5st,
	    ISNULL(T.PG_IN, 0)    AS pgin,   
	    ISNULL(T.A1ST, 0)    AS a1st,
	    ISNULL(T.A2ST, 0)    AS a2st,
	    ISNULL(T.A3ST, 0)    AS a3st,
	    ISNULL(T.A4ST, 0)    AS a4st,
	    ISNULL(T.A5ST, 0)    AS a5st,
	    ISNULL(T.FAB_OUT, 0) AS fabOut  
	FROM TB_WAVE_INFO W  
	LEFT JOIN TB_KPI_TARGET T 
	    ON W.WAVE_CD = T.WAVE_CD 
	   AND T.KPI_YEAR = #{year}
	ORDER BY CASE W.WAVE_CD 
	    WHEN 'EUV' THEN 1 
	    WHEN 'Arf_I' THEN 2 
	    WHEN 'Arf_F' THEN 3 
	    WHEN 'GUV' THEN 4 
	    WHEN 'OUV' THEN 5 
	    WHEN 'SUV' THEN 6 
	    WHEN 'RUV' THEN 7 
	END;



    </select>        
    
    <!--
			SELECT 
			    WAVE_CD AS waveNm,
			    ISNULL(P_BIN, 0)   AS fabIn,  
			    ISNULL(B1ST, 0)    AS b1st,
			    ISNULL(B2ND, 0)    AS b2st,
			    ISNULL(B3RD, 0)    AS b3st,
			    ISNULL(B4TH, 0)    AS b4st,
			    ISNULL(B5TH, 0)    AS b5st,
			    ISNULL(P_GM, 0)    AS pgin,   
			    ISNULL(A1ST, 0)    AS a1st,
			    ISNULL(A2ND, 0)    AS a2st,
			    ISNULL(A3RD, 0)    AS a3st,
			    ISNULL(A4TH, 0)    AS a4st,
			    ISNULL(A5TH, 0)    AS a5st,
			    ISNULL(F_ABOUT, 0) AS fabOut  
			FROM TB_KPI_TARGET
			WHERE KPI_YEAR = #{year}
			ORDER BY CASE WAVE_CD 
			    WHEN 'EUV' THEN 1 
			    WHEN 'Arf_I' THEN 2 
			    WHEN 'Arf_F' THEN 3 
			    WHEN 'GUV' THEN 4 
			    WHEN 'OUV' THEN 5 
			    WHEN 'SUV' THEN 6 
			    WHEN 'RUV' THEN 7 
			END;    
-->

    <select id="getKpiInfoList"
		parameterType="com.cedev.api.basemng.dto.KpiSearchDto" 
    	resultType="com.cedev.api.basemng.dto.KpiInfoDto">
    	
	    SELECT [YEAR]       AS year
	         , KPI_CD       AS kpiCd
	         , KPI_NM       AS kpiNm
	         , GUBUN        AS gubun
	         , KPI_VAL      AS kpiVal
	         , [1st_Sign]   AS v1stSign
	         , [1st_Val]    AS v1stVal
	         , [1st_Mon]    AS v1stMon
	         , [1st_UseYn]  AS v1stUseYn
	         , [2nd_Sign]   AS v2ndSign
	         , [2nd_Val]    AS v2ndVal
	         , [2nd_Mon]    AS v2ndMon
	         , [2nd_UseYn]  AS v2ndUseYn
	         , [3rd_Sign]   AS v3rdSign
	         , [3rd_Val]    AS v3rdVal
	         , [3rd_Mon]    AS v3rdMon
	         , [3rd_UseYn]  AS v3rdUseYn
	         , [4th_Sign]   AS v4thSign
	         , [4th_Val]    AS v4thVal
	         , [4th_Mon]    AS v4thMon
	         , [4th_UseYn]  AS v4thUseYn
	         , REG_ID       AS regId
	         , REG_DT       AS regDt
	         , MOD_ID       AS modId
	         , MOD_DT       AS modDt
	      FROM tb_kpi_m
	     WHERE 1=1
          order by kpicd asc

    </select>  
    
    <!-- [1단계] 메인 마스터 타겟 정보 MERGE 처리 (수정된 ST 스키마 버전) -->
    <update id="upsertKpiTarget" parameterType="map">
        MERGE INTO cedevdb.dbo.TB_KPI_TARGET AS Target
        USING (SELECT #{year} AS KPI_YEAR, #{row.waveCd} AS WAVE_CD) AS Source
        ON (Target.KPI_YEAR = Source.KPI_YEAR AND Target.WAVE_CD = Source.WAVE_CD)
        
        
        WHEN MATCHED THEN
            UPDATE SET 
                FAB_IN   = TRY_CAST(ISNULL(#{row.fabIn}, '0') AS NUMERIC(18,2)),
                B1ST     = TRY_CAST(ISNULL(#{row.b1st}, '0') AS NUMERIC(18,2)),
                B2ST     = TRY_CAST(ISNULL(#{row.b2st}, '0') AS NUMERIC(18,2)), 
                B3ST     = TRY_CAST(ISNULL(#{row.b3st}, '0') AS NUMERIC(18,2)), 
                B4ST     = TRY_CAST(ISNULL(#{row.b4st}, '0') AS NUMERIC(18,2)), 
                B5ST     = TRY_CAST(ISNULL(#{row.b5st}, '0') AS NUMERIC(18,2)), 
                PG_IN    = TRY_CAST(ISNULL(#{row.pgin}, '0') AS NUMERIC(18,2)),
                A1ST     = TRY_CAST(ISNULL(#{row.a1st}, '0') AS NUMERIC(18,2)),
                A2ST     = TRY_CAST(ISNULL(#{row.a2st}, '0') AS NUMERIC(18,2)), 
                A3ST     = TRY_CAST(ISNULL(#{row.a3st}, '0') AS NUMERIC(18,2)), 
                A4ST     = TRY_CAST(ISNULL(#{row.a4st}, '0') AS NUMERIC(18,2)), 
                A5ST     = TRY_CAST(ISNULL(#{row.a5st}, '0') AS NUMERIC(18,2)), 
                FAB_OUT  = TRY_CAST(ISNULL(#{row.fabOut}, '0') AS NUMERIC(18,2)), 
                MOD_DT   = GETDATE(),
                MOD_USER = #{userId}

        
        WHEN NOT MATCHED THEN
            INSERT (
                KPI_YEAR, WAVE_CD, FAB_IN, 
                B1ST, B2ST, B3ST, B4ST, B5ST, 
                PG_IN, 
                A1ST, A2ST, A3ST, A4ST, A5ST, 
                FAB_OUT, REG_DT, REG_USER
            )
            VALUES (
                Source.KPI_YEAR, 
                Source.WAVE_CD, 
                TRY_CAST(ISNULL(#{row.fabIn}, '0') AS NUMERIC(18,2)), 
                TRY_CAST(ISNULL(#{row.b1st}, '0') AS NUMERIC(18,2)), 
                TRY_CAST(ISNULL(#{row.b2st}, '0') AS NUMERIC(18,2)), 
                TRY_CAST(ISNULL(#{row.b3st}, '0') AS NUMERIC(18,2)), 
                TRY_CAST(ISNULL(#{row.b4st}, '0') AS NUMERIC(18,2)), 
                TRY_CAST(ISNULL(#{row.b5st}, '0') AS NUMERIC(18,2)), 
                TRY_CAST(ISNULL(#{row.pgin}, '0') AS NUMERIC(18,2)), 
                TRY_CAST(ISNULL(#{row.a1st}, '0') AS NUMERIC(18,2)), 
                TRY_CAST(ISNULL(#{row.a2st}, '0') AS NUMERIC(18,2)), 
                TRY_CAST(ISNULL(#{row.a3st}, '0') AS NUMERIC(18,2)), 
                TRY_CAST(ISNULL(#{row.a4st}, '0') AS NUMERIC(18,2)), 
                TRY_CAST(ISNULL(#{row.a5st}, '0') AS NUMERIC(18,2)), 
                TRY_CAST(ISNULL(#{row.fabOut}, '0') AS NUMERIC(18,2)), 
                GETDATE(), 
                #{userId}
            );
    </update>
    


    <!-- [2단계] 이력 기록용 마스터 정보 등록 -->
    <insert id="insertKpiHistMaster" parameterType="map">
        INSERT INTO TB_KPI_TARGET_HIST (
            HIST_ID, KPI_YEAR, REASON, REG_ID, REG_DT
        )
        VALUES (
            #{histId}, #{year}, #{reason}, #{userId}, GETDATE()
        )
    </insert>

    <!-- [3단계] 이력 상세 정보 일괄 고속 스냅샷 복사 (SELECT INSERT 구조) -->
    <insert id="insertKpiHistDetailSnapshot" parameterType="map">
        INSERT INTO TB_KPI_TARGET_HIST_DETAIL (
            HIST_ID, WAVE_CD, 
            P_BIN, B1ST, B2ND, B3RD, B4TH, B5TH, 
            P_GM, A1ST, A2ND, A3RD, A4TH, A5TH, F_ABOUT
        )
        SELECT 
            #{histId}, T.WAVE_CD,
            T.P_BIN, T.B1ST, T.B2ND, T.B3RD, T.B4TH, T.B5TH,
            T.P_GM, T.A1ST, T.A2ND, T.A3RD, T.A4TH, T.A5TH, T.F_ABOUT
        FROM TB_KPI_TARGET T
        WHERE T.KPI_YEAR = #{year}
    </insert>    


</mapper>